----------------------------
流/元素/基本尺寸
----------------------------
	# 块元素, 内联元素
		display: block;
			* 块级元素, 可以设置宽高, 永远独占一行

		display: inline;
			* 内联元素, 不能设置宽高, 不会独占一行

		display: inline-block;
			* 内联元素, 可以设置宽高, 不会独占一行

		display: table;
		display: list-item;
		display: inline-table;
	
	# width
		* 默认值为 auto, 有4种宽度表现
			1. 充分利用可用空间, 父容器多大, 我多大
			2. 收缩与包裹, 收缩到合适的大小(包裹性)
			3. 收缩到最小
			4. 超出容器限制, 除非 width 有明确限制, 否则永远都不会超出父容器
		
		* 正常流宽度, 均匀铺满
		* 格式化宽度, 仅仅出现在"绝对定位"模型中(absolute/fixed)
		

----------------------------
css 块元素, 内联元素
----------------------------