--------------------
字体
--------------------
	font-family
		* 指定N个字体家族, 使用逗号分隔, 如果字体族名字有空格, 使用引号包裹
		* 系统会选择第一个可用得字体作为文本字体
		* ans-serif 是通用字体, 应该排在最后

	color
		* 字体颜色, 可以使用关键字, 十六进制
			#cc6600
		* 使用rgb值
			rgb(80%, 40%, 0%) /* 指定红绿蓝的百分比 */
			rgb(204, 102, 0) /* 基于 255 值得百分比计算结果  (255 x 80% = 204) */
		

	font-weight
		* 字体粗细
	
	text-decoration
		* 文本装饰线

	font-size
		* 默认字体大小一般为: 16px;
		* 设置为关键字
			xx-small, x-small, small, medium, large, x-large, xx-large
			larger, smaller

		* 设置为为百分比值, 这个值是相对于父元素大小的百分比.
			font-size: 200%; /* 字体大小是父元素字体大小的2倍 */
		
		* 使用em, 指定比例因子 
			font-size: 1.2em; /* 字体大小是父元素的1.2倍 */
	
	font-style
		* 字体风格，斜体、粗体
	
	line-height
		* 行高，也称为行间距，可选值如下
			normal
			<number>（无单位）
				* <number>（无单位）乘以该元素的字体大小。推荐使用
				* 继承的时候，继承的是这个表达式
			<length>
			<percentage>
				* 百分比，与元素自身的字体大小有关。计算值是给定的百分比值乘以元素计算出的字体大小
				* 类似于 <number>，但是继承的时候，继承的是计算后的值

		* 其实是由三部分组成，行高实际上修改的是上下间距
			1. 上间距
			2. 文本高度（不会变）
			3. 下间距
		
		* 上下间距平分行高
		* 如果要实现文字在容器中上下居中，可以把行高设置为容器高度
			height: 50px;
			line-height: 50px;

			* 本质上是行高的上间距和下间距把文字挤到了中间。
			* 如果行高小于盒子高度，文字会偏上
			* 如果行高大于盒子高度，文字会偏下
		
	text-align			
		* 文本对齐, 只对块级元素生效, 对内联元素无效
	
	font
		* N多字体属性的快捷设置

--------------------
加载自定义字体
--------------------

	@font-face {
		font-family: 'my font';					/* 定义字体名称, 名字应该唯一 */
		src: url('http://xxx.woff'),			/* 定义字体的加载地址, 可以有多个，多种类型, 浏览器会选择第一个可用的 */
					url('http://xxx.ttf');
	}

	.sider {
		font-family: 'my font', Geneva, Tahoma, sans-serif;  /* 在指定位置, 使用自己定义的字体 */
	}
	
	* 字型（typeface）和字体（font）这两个术语经常被混为一谈。
	* 字型通常是指字体（比如Roboto）的整个家族，一般由同一个设计师创造。
	* 一种字型可能会存在多种变体和字重（比如细体、粗体、斜体、压缩，等等），这些变体的每一种可称之为一种字体（font）。

--------------------
谷歌字体托管服务
--------------------