-------------------
文本属性
-------------------
	text-indent
		* 把元素的第一行文本，缩进指定的长度，甚至可以是负值。
		* 如果是百分比的话，则是相对于父元素的宽度进行计算的。
		* 只能用在块级元素上，会继承。
	
	color
		* 设置字体颜色
	
	letter-spacing
		* 字符间距，可以设置负数
	
	word-spacing
		* 词间距，其实是根据空格来区分是否是单词。

	white-space
	 	* 设置如何处理元素内的空白字符

	text-shadow
		* 设置阴影
	
	text-decoration
		* 它是如下属性的简写
			text-decoration-color
			text-decoration-line
			text-decoration-style
			text-decoration-thickness

		* 设置文本装饰
			overline
				* 上划线
			underline
				* 下划线
			line-through
				* 删除线
			
		* 第二个参数设置线体的格式
			dotted
				* 虚线
			wavy
				* 波浪线
		
		* 第三个参数设置颜色
		* 参考
			https://developer.mozilla.org/zh-CN/docs/Web/CSS/text-decoration
	
	word-break
		* 怎样在单词内断行

	text-align
		* 文本水平对齐方式
		* 可选值
			justify
				* 两端对齐，两端对齐的文本会经过拉伸，正好占满左右边界之间的空间，至于如何拉伸是由用户代理决定的，和用户代理没有关系。



-------------------
行高 / 字体大小
-------------------
	# 字体设计框，这个只有在字体设计软件中才有，它实实在在存在，但是在浏览器和 CSS 中，看不到、摸不到。

		* font-size 的大小，本质上就是在控制这个字体框的高度（宽度会自动等比例缩放）。
		* 字体设计框中的字体，可能会超出字体框的边界，这是允许的，所以，文字最终呈现的大小不一定就是 font-size 的大小
		* 通常，文字相对于字体框都不是垂直居中的，而是略微偏下

	# 设计师设计字体的时候，通常会先确定一个字母 'x'（小写），字母 x 的下边缘（线）就是基线（基准线）。

		* 内联元素默认是基线对齐的，而基线就是x的底部。

	# line-height
		* 行高（也称为行间距），指的是两行文字基线（文字母x的下端沿）之间的距离，又可以称为这行文字所占的高度。
		* 可选值如下（不能用负值）
			normal
				* 默认，浏览器会根据字体大小给一个合适的行高。
			<number>（无单位）
				* <number>（无单位）乘以该元素的字体大小。推荐使用（1.2 - 1.5）
				* 继承的时候，继承的是这个表达式
			<length>
				* 指定用于计算行向盒高度的<长度>值。以 em 为单位的值可能会产生不确定的结果。
			<percentage>
				* 百分比，与元素自身的字体大小有关。计算值是给定的百分比值乘以元素计算出的字体大小
				* 类似于 <number>，但是继承的时候，继承的是计算后的值

		* 其实是由三部分组成，行高实际上修改的是上下间距
			1. 上间距
			2. 文本高度（不会变）
			3. 下间距
		
		* 上下间距平分行高（几乎）
		* 如果要实现文字在容器中上下居中，可以把行高设置为容器高度
			height: 50px;
			line-height: 50px;

			* 本质上是行高的上间距和下间距把文字挤到了中间。
			* 如果行高小于盒子高度，文字会偏上
			* 如果行高大于盒子高度，文字会偏下

	# vertical-align
		* 文本垂直对齐方式
		* 用来指定行内（inline）、行内区块（inline-block）、表格单元格（table-cell）盒子的垂直对齐方式。
		* 可选值

			/* 相对父元素的值 */
			middle
				* 使元素的中部与父元素的基线加上父元素 x-height 的一半对齐。
				* 指的是基线往上 1/2 x-height 高度，可以近似理解为字母 x 交叉点那个位置。
			
			baseline（默认值）
				* 使元素的基线与父元素的基线对齐。
			
			sub
				* 使元素的基线与父元素的下标基线对齐。
			
			super
				* 使元素的基线与父元素的上标基线对齐。
			
			<length>
				* 使元素的基线对齐到父元素的基线之上的给定长度。可以是负数。
			
			<percentage>
				* 使元素的基线对齐到父元素的基线之上的给定百分比，该百分比是 line-height 属性的百分比。可以是负数。
			

			/* 相对行的值，没有基线的元素，使用外边距的下边缘替代。*/
			top
				* 使元素及其后代元素的顶部与整行的顶部对齐。
			
			bottom
				* 使元素及其后代元素的底部与整行的底部对齐。

			
