---------------------
背景
---------------------
	background 
		* 所有背景属性的简写
		* 可以一次性设置多个背景图片

			background: url(../images/bg-lt.png) no-repeat,
						url(../images/bg-rt.png) no-repeat right top,
						url(../images/bg-lb.png) no-repeat left bottom,
						url(../images/bg-rb.png) no-repeat right bottom;

	background-attachment
		* 设置背景图像的位置是在视口内固定，或者随着包含它的区块滚动。
		* 取值
			fixed
				* 相对于视口固定。即使一个元素拥有滚动机制，背景也不会随着元素的内容滚动。

			local
				* 相对于元素的内容固定。如果一个元素拥有滚动机制，背景将会随着元素的内容滚动，并且背景的绘制区域和定位区域是相对于可滚动的区域而不是包含他们的边框。

			scroll
				* 此关键属性值表示背景相对于元素本身固定，而不是随着它的内容滚动（对元素边框是有效的）。

	background-blend-mode

	background-clip
		* 设置元素的背景（背景图片或颜色）是否延伸到边框、内边距盒子、内容盒子下面。
		* 可选值

			border-box
				* 背景延伸至边框外沿（但是在边框下层）。

			padding-box
				* 背景延伸至内边距（padding）外沿。不会绘制到边框处。

			content-box
				* 背景被裁剪至内容区（content box）外沿。

			text
				* 背景被裁剪成文字的前景色（背景只渲染在文字背后，需要把文字颜色调整为透明色）。

	background-color
	background-image
		* 设置背景图片
		* 可选值
			none
				* 不显示图片
			<image>
				* 要显示的图片。支持多背景设置，背景之间以逗号隔开。
					url("startransparent.gif"), url("catfront.png");
				
				* 先指定的图像会在之后指定的图像上面绘制。因此指定的第一个图像“最接近用户”。
	
	background-repeat
		* 定义背景图像的重复方式
		* 可选值
			repeat
				* 重复，直到铺满整个元素，如果最后一个图像比剩余空间大，图像会被裁剪。
			space
				* 尽可能得重复，但是不会裁剪。
			round
				* 随着允许的空间在尺寸上的增长，被重复的图像将会伸展 (没有空隙), 直到有足够的空间来添加一个图像。
			no-repeat
				* 不重复
		
		* 单值语法是完整的双值语法的简写（第一个值表示水平重复行为，第二个值表示垂直重复行为）
			repeat-x	等于	repeat no-repeat
			repeat-y	等于	no-repeat repeat
			repeat		等于	repeat repeat
			space		等于	space space
			round		等于	round round
			no-repeat	等于	no-repeat no-repeat
	
	background-position
		* 可以使用专门针对 x、y 轴进行设置的属性
			background-position-x
			background-position-y

		* 每一个背景图片设置初始位置。这个位置是相对于由 background-origin 定义的位置图层的。
		* 属性值为一个或多个 <position> 值，用逗号隔开。
			<position>
				* center/top/left/bottom/right/<length>/<percentage>
		
		* 如果是值（可以为负数），不是关键字的话，则是以图片的左上角为中心进行偏移计算
			/* 图片距离左边 10px，距离顶部 50px */
			background-position: 10px 50px; 

		* 一个 <position> 可以有1 - 4 值
			* 1个值，另一个维度的值会被设置为 center
			* 2个值， 一个定义 x 坐标，另一个定义 y 坐标。
			* 3个值，两个值是关键字值，第三个是前面值的偏移量。
			* 4个值，第一个和第三个值是定义 X 和 Y 的关键字值。第二个和第四个值是前面 X 和 Y 关键字值的偏移量。
				background-position: right 35% bottom 45%; /* 距离右边 35%，底下 45% */

	background-origin
		* 指定背景图片 background-image 属性的原点位置的背景相对区域。
		* 注意：当使用 background-attachment 为 fixed 时，该属性将被忽略不起作用。
		* 可选值
			border-box
				* 背景图片的摆放以 border 区域为参考

			padding-box
				* 背景图片的摆放以 padding 区域为参考

			content-box
				* 背景图片的摆放以 content 区域为参考
		
	background-size
		* 设置背景图片大小。图片可以保有其原有的尺寸，或者拉伸到新的尺寸，或者在保持其原有比例的同时缩放到元素的可用空间的尺寸。
		* 设置值

			<length>
				* 指定长度，不能为负
			<percentage>
				* 指定百分比长度，不能为负
			auto
				* 默认
			cover
				* 将背景图片等比缩放，直到完全覆盖容器，图片会尽可能全的显示在元素上，但要
				* 注意：背景图片有可能显示不完整。—— 相对比较好的选择

			contain
				* 将背景图片等比缩放，使背景图片的宽或高，与容器的宽或高相等，再将完整背景图片包含在容器内，
				* 注意：可能会造成容器里部分区域没有背景图片。


