-----------------------
选择器
-----------------------
	# 猫头鹰选择
		* 它会选中页面上有着相同父级的非第一个子元素
			body * + * {   
				 margin-top: 1.5em;             
			}
	

	# 后代选择器
		ul li {

		}

		* 选中 ul 后的所有 li 元素，不管 li 多深都能选到。
		* 可以定义多个后代
			ul li .nav a {}
	
	# 子选择器
		.parent > .child {}

		* 选中 .parent 元素后的所有直接后代元素
	
	# 并集选择器
		div,p {}

		* 注意，用逗号分割，并集选择器
	
	# 相邻兄弟选择
		p + h2 {}

		* 选择p后面的第一个兄弟元素

	# 通用兄弟选择
		li.active ~ li {}

		* 选择 li.active 后面的所有兄弟元素, 不包含前面的
	
	# 属性选择器
		E[attr]
			* 选择具有 attr 的元素
		
		E[attr="val"]
			* 选择具有 attr 属性且值为 val 的元素
		
		E[attr^="val"]
			* 选择具有 attr 属性且值以 val '开头'的元素
		
		E[attr$="val"]
			* 选择具有 attr 属性且值以 val '结尾'的元素
		
		E[attr*="val"]
			* 选择具有 attr 属性且值'包含'了 val 的元素
		
		* val 可以加引号，也可以不加。如果包含特殊字符，那就加。

-----------------------
伪类
-----------------------
	# 结构选择器，根据父级选择子元素
		E:first-child
			* 父元素中的第一个子元素 E
		E:last-child
			* 父元素中的最后一个子元素 E
		E:only-child
			* 父元素中的唯一一个子元素 E
		
		E:nth-child(n)
			* 父元素中的第 n 个子元素 E
			* n 可以是数字或者公式: odd\even 偶数和级数
			* n 也可以是一个表达式，从 0 开始，每次 + 1。但是第 0 个元素或者是超出了元素个数，会被忽略。关键字必须是 n
				2n		/* 偶数 */
				2n-1	/* 奇数 */
				5n		/* 5/10/15 */
				n+5		/* 从第 5 个开始，直到最后*/
				-n+5	/* 前5个，包含第 5 个 */
			
			* 先匹配n，再匹配元素类型，如果类型不匹配，则不会生效
				.container div:nth-child(1) {
					... /* 只有第 1 个元素是 div 的情况下，才会生效 */
				}
				
		E:first-of-type
			* 指定类型 E 的第一个
		
		E:last-of-type
			* 指定类型 E 的最后一个
		
		E:nth-of-type(n)
			* 指定类型 E 的第 n 个
			* 类似于 nth-child，但是它先匹配类型，在匹配 n
		
	
	:link
		* 链接，未被访问

	:visited
		* 访问过了

	:hover
		* 鼠标指向

	:active
		* 鼠标点击，但还未松开（激活）
	
	:focus
		* 获得焦点的表单元素

	
-----------------------
伪元素
-----------------------
	# 使用 CSS 创建新标签元素，而不需要HTML 标签
	# 伪元素前面是 2 个冒号

	::before
	::after
		* 在元素内部的前面（开头）和后面（结尾）创建元素，是内联元素
		* 必须要有 content 属性
		* 参考:
			https://developer.mozilla.org/zh-CN/docs/Web/CSS/::before
			https://developer.mozilla.org/zh-CN/docs/Web/CSS/::after
	
