--------------------
字体
--------------------
	# 字体分类
		衬线字体：横竖撇捺有棱有角
		非衬线字体：棱角感比较低，比较圆润（常用）

--------------------
字体
--------------------
	font-family
		* 指定N个字体家族, 使用逗号分隔, 如果字体族名字有空格, 使用引号包裹
		* 系统会选择第一个可用得字体作为文本字体
		* serif 是通用字体，应该排在最后

	color
		* 字体颜色, 可以使用关键字, 十六进制
			#cc6600
		* 使用rgb值
			rgb(80%, 40%, 0%) /* 指定红绿蓝的百分比 */
			rgb(204, 102, 0) /* 基于 255 值得百分比计算结果  (255 x 80% = 204) */
		

	font-weight
		* 字体粗细
	
	text-decoration
		* 文本装饰线

	font-size
		* 默认字体大小一般为: 16px;
		* 设置为关键字
			xx-small, x-small, small, medium, large, x-large, xx-large
			larger, smaller

		* 设置为为百分比值, 这个值是相对于父元素大小的百分比.
			font-size: 200%; /* 字体大小是父元素字体大小的2倍 */
		
		* 使用em, 指定比例因子 
			font-size: 1.2em; /* 字体大小是父元素的1.2倍 */
		

		* 其本质是为字体的 em 方框提供一个尺寸，但是方框中的字体不一定按照方框大小来设计。

	font-size-adjust
	
	font-stretch

	font-style
		* 字体风格，斜体、粗体
	
	text-align			
		* 文本对齐, 只对块级元素生效, 对内联元素无效
	
	font
		* N多字体属性的快捷设置

--------------------
加载自定义字体
--------------------

	@font-face {
		font-family: 'my font';					/* 定义字体名称, 名字应该唯一 */
		src: url('http://xxx.woff'),			/* 定义字体的加载地址, 可以有多个，多种类型, 浏览器会选择第一个可用的 */
					url('http://xxx.ttf');
	}

	* 如果需要指明资源的类型（例如，字体文件没有后缀），可以使用 format()
		url('http://xxx.ttf') format('opentype');  // 在 url 后面声明，中间没有空格
	* 也有一个好处就是，浏览器如果发现不支持这种类型的字体，直接就不会去加载，节省带宽


	.sider {
		font-family: 'my font', Geneva, Tahoma, sans-serif;  /* 在指定位置, 使用自己定义的字体 */
	}
	
	* 字型（typeface）和字体（font）这两个术语经常被混为一谈。
	* 字型通常是指字体（比如Roboto）的整个家族，一般由同一个设计师创造。
	* 一种字型可能会存在多种变体和字重（比如细体、粗体、斜体、压缩，等等），这些变体的每一种可称之为一种字体（font）。
	* 参考
		https://developer.mozilla.org/zh-CN/docs/Web/CSS/@font-face
	
	
	* 自定义字体
		* 中文的字体文件很大，使用完整的字体文件不现实，通常针对某几个文字进行单独定制。
		* 可使用阿里 Web 字体定制工具：https://www.iconfont.cn/fonts/index

--------------------
谷歌字体托管服务
--------------------