--------------------
字体
--------------------
	font-family
		* 指定N个字体家族, 使用逗号分隔, 如果字体族名字有空格, 使用引号包裹
		* 系统会选择第一个可用得字体作为文本字体
		* ans-serif 是通用字体, 应该排在最后

	color
		* 字体颜色, 可以使用关键字, 十六进制
			#cc6600
		* 使用rgb值
			rgb(80%, 40%, 0%) /* 指定红绿蓝的百分比 */
			rgb(204, 102, 0) /* 基于 255 值得百分比计算结果  (255 x 80% = 204) */
		

	font-weight
		* 字体粗细
	
	text-decoration
		* 文本装饰线

	font-size
		* 默认字体大小一般为: 16px;
		* 设置为关键字
			xx-small, x-small, small, medium, large, x-large, xx-large
			larger, smaller

		* 设置为为百分比值, 这个值是相对于父元素大小的百分比.
			font-size: 200%; /* 字体大小是父元素字体大小的2倍 */
		
		* 使用em, 指定比例因子 
			font-size: 1.2em; /* 字体大小是父元素的1.2倍 */
	
	font-style
		* 字体风格
	
	line-height
		* 行高

	text-align			
		* 文本对齐, 只对块级元素生效, 对内联元素无效
	
	font
		* N多字体属性的快捷设置

--------------------
加载自定义字体
--------------------

	@font-face {
		font-family: 'my font';					/* 定义字体名称, 名字应该唯一 */
		src: url('http://xxx.woff'),			/* 定义字体的加载地址, 可以有多个, 浏览器会选择第一个可用的 */
					url('http://xxx.ttf');
	}

	.sider {
		font-family: 'my font', Geneva, Tahoma, sans-serif;  /* 在指定位置, 使用自己定义的字体 */
	}
	
	

--------------------
谷歌字体托管服务
--------------------