-------------------
sql					|
-------------------
	# 代表一个SQL片段
		<sql>
		</sql>

-------------------
sql-属性			|
-------------------
	id
		# 唯一的标识

	

-------------------
sql-Demo			|
-------------------
	
	# 动态给SQL片段赋值
		<sql id="userColumns"> 
			${alias}.id,
			${alias}.username,
			${alias}.password 
		</sql>

		<select id="selectUsers" resultType="map">
			select
				<include refid="userColumns"><property name="alias" value="t1"/></include>,
				<include refid="userColumns"><property name="alias" value="t2"/></include>
			from some_table t1
				cross join some_table t2
		</select>
	
	# 动态的 include 
		* 属性值可以用于包含的 refid 属性或者包含的字句里面的属性值
		<sql id="sometable">
			${prefix}Table
		</sql>

		<sql id="someinclude">
			from
			<include refid="${include_target}"/>
		</sql>

		<select id="select" resultType="map">
			select
			field1, field2, field3
			<include refid="someinclude">
				<!-- someinclude 片段中,要引用的另一个片段名 -->
				<property name="include_target" value="sometable"/>
				<!-- 另一个片段中的 prefix 值 -->
				<property name="prefix" value="Some"/>
			</include>
		</select>