------------------------
select					|
------------------------
	# 用于检索的标签
		<select>
		</select>

------------------------
select-属性				|
------------------------
	id	
		# 在命名空间中唯一的标识符，可以被用来引用这条语句。

	parameterType	
		# 将会传入这条语句的参数类的完全限定名或别名。
		# 这个属性是可选的，因为 MyBatis 可以通过 TypeHandler 推断出具体传入# 语句的参数，默认值为 unset。

	parameterMap	
		# 这是引用外部 parameterMap 的已经被废弃的方法。使用内联参数映射和 parameterType 属性。

	resultType	
		# 从这条语句中返回的期望类型的类的完全限定名或别名。注意如果是集合情形，那应该是集合可以包含的类型，而不能是集合本身。
		# 使用 resultType 或 #resultMap，但不能同时使用。

	resultMap	
		# 外部 resultMap 的命名引用。结果集的映射是 MyBatis 最强大的特性，对其有一个很好的理解的话，许多复杂映射的情形都能迎刃而解。
		# 使用  resultMap 或 resultType，但不能同时使用。

	flushCache	
		# 将其设置为 true，任何时候只要语句被调用，都会导致本地缓存和二级缓存都会被清空，默认值：false。

	useCache	
		# 将其设置为 true，将会导致本条语句的结果被二级缓存，默认值：对 select 元素为 true。

	timeout	
		# 这个设置是在抛出异常之前，驱动程序等待数据库返回请求结果的秒数。默认值为 unset（依赖驱动）。

	fetchSize	
		# 这是尝试影响驱动程序每次批量返回的结果行数和这个设置值相等。默认值为 unset（依赖驱动）。

	statementType	
		# STATEMENT，PREPARED 或 CALLABLE 的一个。
		# 这会让 MyBatis 分别使用 Statement,PreparedStatement ,CallableStatement
		# 默认值：PREPARED。

	resultSetType	
		# FORWARD_ONLY,SCROLL_SENSITIVE ,SCROLL_INSENSITIVE 中的一个
		# 默认值为 unset （依赖驱动）。

	databaseId	
		# 如果配置了 databaseIdProvider，MyBatis 会加载所有的不带 databaseId 或匹配当前 databaseId 的语句
		# 如果带或者不带的语句都有，则不带的会被忽略。

	resultOrdered	
		# 这个设置仅针对嵌套结果 select 语句适用：如果为 true，就是假设包含了嵌套结果集或是分组了，这样的话当返回一个主结果行的时候，就不会发生有对前面结果集的引用的情况。这就使得在获取嵌套的结果集的时候不至于导致内存不够用。
		# 默认值：false。

	resultSets	
		# 这个设置仅对多结果集的情况适用，它将列出语句执行后返回的结果集并每个结果集给一个名称，名称是逗号分隔的。
