————————————————————
一,配置Bean			|
————————————————————
1,配置形式
	> 基于xml文件的方式
	> 基于注解的方式
2,Bean的配置方式
	> 通过全限定类名(反射),通过工厂方法(静态工厂 & 实例工厂方法),FactoryBean
3,IOC容器 BeanFactory & ApplicationContext
4,依赖注入的方式
	> 属性注入
	> 构造器注入
5,注入属性的细节
6,自动转配
7,Bean之间的关系
	> 继承 
	> 依赖
8,Bean的作用域
	> singleton
	> prototype
	> WEB环境作用域
9,使用外部部署文件
10,spEL
11,IOC容器中Bean的生命周期
12,spring 4x新特性
	> 泛型依赖注入
————————————————————
一,springAOP		|
————————————————————

————————————————————
一,对JDBC的支持		|
————————————————————

————————————————————
一,Hibernat整合		|
————————————————————

————————————————————
一,struts2整合		|
————————————————————