---------------
盒子模型
---------------
	# 组成
		* 内容区	content
		* 内边距	padding
		* 边框		border
		* 外边距	margin
	
	# 盒子模型都有四个概念和四个方向
		top
		right
		left
		bottom
	
	# 内联元素和盒子模型
		* 内联元素不能设置: witdh, height
		* 内联元素可以设置水平的内边距, 可以影响到布局
		* 内联元素可以设置垂直的内边距, 它不会影响页面的布局(它超出后, 会被隐藏)
	


---------------
内边距
---------------
	# 盒子内容与边框的距离
		padding

	# 内边距会影响盒子的大小

---------------
外边距
---------------
	# 盒子与其他盒子的距离
		margin

	# 外边距不会影响盒子的大小, 但是会影响盒子的位置

	# 兄弟元素垂直外边距重叠, 会取最大值
	# 父级元素垂直外边距重叠, 子元素的外边距会设置给父元素



---------------
边框
---------------
	# 一次性指定四个边框样式
		border 
			* 3个属性: 宽度, 类型, 颜色
				border: 1px solid red;
	
	# 依次指定四个边框的样式
		border-width
		border-style
		border-color

		* 依次指定四个边框的样式(顺时针)
			border-width: 1px 2px 3px 4px;
		
		* 如果指定部分值, 则缺少的边, 会以对面的边属性作为自己的属性
	
	# 分别指定四个边框的样式
		top
		right
		left
		bottom
			border-top-width: 5px;
			border-bottom-color: red;
			border-right-style: solid;
	

		





